body {
    background-color: hsl(332, 0%, 0%);
    font-family: sans-serif;
}

.container {
    display: flex;
    align-items: center;
}

.navbar {
    justify-items: baseline;
    background-color: hsl(283, 100%, 61%);
    border-radius: 2rem;
    padding: 10px;
}

.nav-link {
    font-size: 14pt;
    color: white;
    text-decoration: none;
    padding: 15px;
    background-color:hsl(350, 100%, 45%);
    border-radius: 1rem;
    margin-left: 1rem;
    outline: none;
}

.active {
    background-color:hsl(350, 100%, 45%);
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.logo-text {
    font-size: 15pt;
}