body {
    background-color: hsl(332, 0%, 0%);
    font-family: sans-serif;
}

.container {
    display: flex;
    align-items: center;
    min-height: 50px;
}

.navbar {
    justify-items: center;
    background-color: hsl(283, 100%, 61%);
    border-radius: 2rem;
    padding: 10px;
}
@media screen and (max-width: 600px) {
    .nav-link-desktop {
        display: none;
    }
}
    
.nav-link {
    color: white;
    text-decoration: none;
    padding: 15px;
    background-color:hsl(350, 100%, 45%);
    border-radius: 1rem;
    margin: 0 10px;
    outline: none;
}

.active {
    background-color:hsl(350, 100%, 45%);
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.logo-text {
    font-size: 15pt;
}

.red-image {
    max-width: 95vw;
    max-height: 95vh;
    margin: 1px auto;
    border-radius: 2rem;
}

.icon {
    
}

